In [10]:
import os
import sqlite3
import os
import sqlite3
from faker import Faker
import pandas as pd


# Connect to the SQLite database
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

# Create the AUTHOR table
cursor.execute('''CREATE TABLE IF NOT EXISTS AUTHOR
            (ID INT PRIMARY KEY     NOT NULL,
            NAME           TEXT    NOT NULL,
            AGE            INT     NOT NULL,
            ADDRESS        CHAR(50),
            SALARY         REAL);''')

# Create the BOOK table
cursor.execute('''CREATE TABLE IF NOT EXISTS BOOK
            (ID INT PRIMARY KEY     NOT NULL,
            TITLE           TEXT    NOT NULL,
            AUTHOR_ID       INT     NOT NULL,
            PRICE           REAL);''')

# Generate fake data using the faker library
fake = Faker()

# Insert data into the AUTHOR table
for i in range(1, 11):
    author_name = fake.name()
    author_age = fake.random_int(min=18, max=80)
    author_address = fake.address()
    author_salary = fake.random_int(min=50000, max=150000)
    cursor.execute("INSERT OR IGNORE INTO AUTHOR (ID, NAME, AGE, ADDRESS, SALARY) VALUES (?, ?, ?, ?, ?)",
                   (i, author_name, author_age, author_address, author_salary))

# Insert data into the BOOK table
for i in range(1, 21):
    book_title = fake.catch_phrase()
    book_author_id = fake.random_int(min=1, max=10)
    book_price = fake.random_int(min=10, max=100)
    cursor.execute("INSERT INTO BOOK (ID, TITLE, AUTHOR_ID, PRICE) VALUES (?, ?, ?, ?)",
                   (i, book_title, book_author_id, book_price))

# Commit the changes and close the connection
conn.commit()
conn.close()

IntegrityError: UNIQUE constraint failed: BOOK.ID

In [13]:
conn = sqlite3.connect('test.db')

df_sub = pd.read_sql_query("SELECT * FROM AUTHOR", conn, index_col='ID')
print(df_sub)

                  NAME  AGE  \
ID
1        Sarah Ramirez   20
2      Jeremy Matthews   67
3         Kathryn Lowe   31
4   Elizabeth Phillips   51
5      Larry Dickerson   19
6       Brian Trujillo   67
7         David Wilson   37
8        Joshua Hansen   39
9         Kevin Cooper   69
10      Patricia Meyer   53

                                              ADDRESS    SALARY
ID
1   04163 Ingram Vista Apt. 421\nEast Rebecca, SC ...  135698.0
2           03317 Hunter Greens\nLake Jacob, IA 62540  141634.0
3   90409 Jaime Spurs Suite 091\nGarciaside, WV 38213   79729.0
4   2407 Richard Plaza Suite 051\nLake Sharonhaven...  127111.0
5   5964 Jennifer Rue Suite 069\nHolmesview, AK 32538   55990.0
6               2413 Smith Hill\nWendyburgh, OR 58542  109064.0
7      27599 Adrian Grove\nPort Philipmouth, KS 79516  135110.0
8              949 Mason Valley\nKrististad, IN 72428  101863.0
9   9582 Jenkins Curve Suite 192\nRichardfort, NH ...   91218.0
10  98742 Watts Shoals Suite 289\nGibsonmouth, KY ...   92856.0